* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;

  --cor-fundo: #fff;
  --cor-texto: #0f172a;
  --cor-card: #fff;
  --cor-menu: #bec4cc;
}

body {
  background: var(--cor-fundo);
  color: var(--cor-texto);
  height: 100vh;
}

aside {
  display: none;
}

main {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

header h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

header img {
  width: 45px;
  height: 45px;
  margin-bottom: 8px;
}

main h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

section {
  background: var(--cor-card);
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
}

section h3 {
  background: #d9d9d9;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
}

section p {
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border-bottom: 2px solid #d9d9d9;
}

.tudo {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.geral {
  background: #fff;
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.cabecalho {
  flex-direction: column;
  margin-bottom: 25px;
  border-bottom: transparent;
}

.imagem {
  width: 60px;
  margin-bottom: 10px;
}

.titulo {
  font-size: 24px;
  color: #111827;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #374151;
  font-size: 14px;
  font-weight: bold;
}

.input-01 {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  outline: none;
  transition: 0.2s;
}

.input-01:focus {
  border-color: black;
}

i {
  position: relative;
  margin-left: -38px;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.texto {
  font-size: 12px;
  color: red;
  margin-top: 3px;
  font-weight: bold;
}

.botao {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: black;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
  background-color: #676970;
}